# System files
.DS_Store
*.log
tmp/
.vscode/

# Node
node_modules/
dist/
.next/
build/
out/

# Env - KEEP SECRETS SAFE!
.env
.env.local

# Go
backend-core/main
backend-core/*.exe
backend-core/*.test
backend-core/ss_medicare.db
backend-core/ss_medicare.db-journal
backend-core/vendor/

# Terraform/Misc
.terraform/
*.tfstate
